/* ========================================
   Global Defaults & Resets
======================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: auto !important;
    min-width: 246px;
}

:root {
    --main-color-light: #eff1f8;
    --main-color-primary: #050379;
    --main-color-dark: #040343;
    --main-color-text: #ffffff;
    --main-color-bright: #d9d9fb;
}


/* ========================================
   Base Styles
======================================== */
body {
    position: relative;
    min-height: 100vh;
    background: var(--main-color-light);
    color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color-dark) !important;
}

/* ========================================
   Navbar
======================================== */
nav{
    width: 100%;
}
.navbar {
    background-color: var(--main-color-primary) !important;
    padding: 0.5rem 1rem;
    color: var(--main-color-text);
}

.navbar a.nav-link,
.navbar a.navbar-brand h2 {
    color: var(--main-color-text) !important;
}

.navbar a.nav-link:hover,
.navbar a.nav-link:focus {
    color: var(--main-color-bright) !important;
}

/* ==============================
   Navbar Brand & Logo
============================== */

.navbar-brand .logo {
    height: 40px;
    width: auto;
    object-fit: contain;
}


/* ========================================
   Button
======================================== */
.btn-primary{
    background-color: var(--main-color-primary) !important;
    border-color: var(--main-color-primary) !important;
}


/* ========================================
   Footer
======================================== */
.footer{
    background-color: var(--main-color-primary) !important;
    color: var(--main-color-text);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 2rem !important;
}