/* ========================================
   Global Defaults & Resets
======================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: auto !important;
    min-width: 246px;
}

:root {
    --main-color-light: #eff1f8;
    --main-color-primary: #050379;
    --main-color-dark: #040343;
    --main-color-text: #ffffff;
    --main-color-bright: #d9d9fb;
}


/* ========================================
   Base Styles
======================================== */
body {
    position: relative;
    min-height: 100vh;
    background: var(--main-color-light);
    color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color-dark) !important;
}

/* ========================================
   Background Video
======================================== */
 .hero-video-container {
     position: relative;
     width: 100%;
     height: 82vh;
     overflow: hidden;
 }

 .hero-video {
     position: absolute;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     transform: translate(-50%, -50%);
     object-fit: cover;
     z-index: 1;
 }

 .hero-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.45);
     z-index: 2;
 }

 .hero-content {
     position: relative;
     z-index: 3;
     top: 50%;
     transform: translateY(-50%);
 }

/* ========================================
   Navbar
======================================== */
nav{
    width: 100%;
}
.navbar {
    background-color: var(--main-color-primary) !important;
    padding: 0.5rem 1rem;
    color: var(--main-color-text);
}

.navbar a.nav-link,
.navbar a.navbar-brand h2 {
    color: var(--main-color-text) !important;
}

.navbar a.nav-link:hover,
.navbar a.nav-link:focus {
    color: var(--main-color-bright) !important;
}

/* ==============================
   Navbar Brand & Logo
============================== */

.navbar-brand .logo {
    height: 40px;
    width: auto;
    object-fit: contain;
}


/* ========================================
   Button
======================================== */
.btn-primary{
    background-color: var(--main-color-primary) !important;
    border-color: var(--main-color-primary) !important;
}


/* ========================================
   Footer
======================================== */
.footer {
    background-color: var(--main-color-primary) !important;
    color: var(--main-color-text);
    width: 100%;
    padding-top: 0.5rem;
}

