
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer Fragment -->
<footer th:fragment="footer" class="footer text-white py-3">
    <div class="container text-center">
        <!-- Current Date and Business Name -->
        <span th:text="${#dates.format(#dates.createNow(), 'MMM dd, yyyy')}"></span>
        &nbsp;|&nbsp;
        <span th:text="#{label.business.name}">Business Name</span>
        &nbsp;|&nbsp;
        <span th:text="#{label.all.rights.reserved}">All rights reserved. </span>

        <p>
            <span th:text="#{label.developed.by.Brownhill}">Developed by Brownhill</span>
        </p>
    </div>
</footer>
</body>
</html>
