<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a th:href="@{/}" class="vert-align">
            <img src="/images/t3-logo.png" class="logo image-fluid"></span>
            <h2 class="text-white">Train Ticket Tracker</h2>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
           onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a th:href="@{/trainticket}" href="/trainticket" class=" navbar-link">Assessments</a>
                <div class="navbar-dropdown">
                    <a th:href="@{/trainticket}" class="navbar-item">View</a>
                    <hr class="navbar-divider">
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/report}" href="/about" class=" navbar-link">Reports</a>
                    <div class="navbar-dropdown">

                        <!-- Issued Date Range Report -->
                        <a th:href="@{/report/ticket/date-range}" class="navbar-item" th:text="#{label.report.ticket.date.range}">
                            Issued Date Range!
                        </a>

                        <!-- Travel Length Range Report -->
                        <a th:href="@{/report/ticket/travel-range}" class="navbar-item" th:text="#{label.report.ticket.length.range}">
                        Travel Length Range
                        </a>

                        <!-- Ticket Type Report -  -->
                        <a th:href="@{/report/ticket/type}" class="navbar-item" th:text="#{label.report.ticket.type}">
                        Ticket Type
                        </a>

                        <hr class="navbar-divider">
                    </div>

                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/about}" href="/about" class=" navbar-link">Other</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/about}" href="/about" class="navbar-item">About</a>
                            <hr class="navbar-divider">
                            <a th:href="@{/pirate}" href="/pirate" class="navbar-item">Pirate</a>
                            <hr class="navbar-divider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>